body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-image: url("./public/back.jpg");
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
    color: aliceblue
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: 15px;
  border-bottom-right-radius: 2;
  border-bottom-left-radius: 2;
}
.form-signin input[type="surname"] {
  margin-bottom: 15px;
  border-bottom-right-radius: 2;
  border-bottom-left-radius: 2;
}
.form-signin input[type="pasword"] {
  margin-bottom: 15px;
  border-bottom-right-radius: 2;
  border-bottom-left-radius: 2;
}
.cart {
    display: inline-block;
    background: url('http://cdn1.iconfinder.com/data/icons/jigsoar-icons/24/_cart.png') no-repeat 0 0;
    width: 24px;
    height: 24px;
    margin: 0 10px 0 0;
}
